:root {
  --apta-default: white;
  --apta-muted: #f9fafb;
  --apta-inverted: black;
  --apta-subtle: #f3f4f6;
  --apta-emphasis: #e5e7eb;
  --apta-error: #b91c1c;
  --apta-success: #15803d;
  --apta-warning: #f97316;

  --apta-text-default: black;
  --apta-text-subtle: #6b7280;

  --apta-border-default: #eaeaea;

  --apta-chart-primary: #2563eb;
  --apta-chart-secondary: #374151;
  --apta-chart-highlight: rgb(0, 0, 0, 0.08);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --apta-default: black;
    --apta-muted: #141414;
    --apta-inverted: white;
    --apta-subtle: #1f1f1f;
    --apta-emphasis: #2b2b2b;
    --apta-error: #b91c1c;
    --apta-success: #22c55e;
    --apta-warning: #f97316;

    --apta-text-default: #d6d6d6;
    --apta-text-subtle: #999;

    --apta-border-default: #333;

    --apta-chart-primary: #2563eb;
    --apta-chart-secondary: #eff6ff;
    --apta-chart-highlight: rgb(255, 255, 255, 0.1);
  }
}
