@import "./colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-default text-default;
}

body,
button,
a,
canvas {
  @apply tracking-tight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title tracking-normal;
}

.btn {
  @apply w-full p-2 rounded text-sm shadow-sm tracking-normal;
}

.btn:disabled {
  @apply cursor-not-allowed opacity-70;
}

/*
  Forms
*/
.form-input,
.form-select {
  @apply block text-sm rounded text-inverted border border-default py-2 bg-default shadow-sm;
}
.form-input::placeholder,
.form-select::placeholder {
  @apply text-subtle opacity-50;
}

.form-input:focus,
.form-select:focus {
  @apply border-default outline outline-2 outline-offset-1 outline-inverted;
}

.form-input:focus,
.form-select:focus {
  @apply ring-0;
}

.form-input {
  @apply px-3;
}

.form-select {
  @apply pl-3 pr-10;
}

.form-select.compact {
  @apply py-1 pl-2 pr-8 bg-[center_right_0.10rem];
}

/*
  General Outline / Focus
*/

a:focus-visible {
  @apply rounded outline-inverted;
}

.focus-ring:focus-visible,
a:focus-visible,
button:focus-visible {
  @apply outline outline-2 outline-offset-1 outline-inverted;
}
