:root {
  color-scheme: light;

  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --muted: 210 20% 98%;
  --muted-foreground: 240 3.8% 46.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --success: 142 72% 29%;
  --success-foreground: 0 0% 98%;
  --warning: 25 95% 53%;
  --warning-foreground: 0 0% 98%;
  --chart-highlight: rgb(0, 0, 0, 0.075);
  --ring: 213 94% 68%;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 8%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 85.7% 97.3%;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 98%;
    --warning: 25 95% 53%;
    --warning-foreground: 0 0% 98%;
    --chart-highlight: rgb(255, 255, 255, 0.075);
    --ring: 213 94% 68%;
    --radius: 0.5rem;
  }
}
