obj
bin
.vs
.DS_Store
coverage.cobertura.xml

etc/tinybird/.tinyb
src/node_modules
src/wwwroot/
src/Properties/*
!src/Properties/launchSettings.example.json
/tests/IntegrationTests/Properties/launchSettings.json
/tests/UnitTests/Properties/launchSettings.json
