<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html lang="en">
  <head></head>

  <body
    style="
      background-color: #f6f9fc;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Ubuntu, sans-serif;
      padding: 20px;
    "
  >
    <table
      align="center"
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      width="100%"
      style="
        max-width: 37.5em;
        background-color: #ffffff;
        margin: 30px auto;
        padding: 20px 0 48px;
      "
    >
      <tr style="width: 100%">
        <td>
          <table
            style="padding: 0 48px"
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
            width="100%"
          >
            <tbody>
              <tr>
                <td>
                  <img
                    alt="Aptabase"
                    src="https://aptabase.com/logo-email.png"
                    width="50"
                    style="
                      display: block;
                      outline: none;
                      border: none;
                      text-decoration: none;
                    "
                  />
                  <hr
                    style="
                      width: 100%;
                      border: none;
                      border-top: 1px solid #eaeaea;
                      border-color: #e6ebf1;
                      margin: 20px 0;
                    "
                  />
                  ##CONTENT##
                  <p
                    style="
                      font-size: 14px;
                      line-height: 24px;
                      margin: 16px 0;
                      color: #000;
                      text-align: left;
                    "
                  >
                    — Aptabase team
                  </p>
                  <hr
                    style="
                      width: 100%;
                      border: none;
                      border-top: 1px solid #eaeaea;
                      border-color: #e6ebf1;
                      margin: 20px 0;
                    "
                  />
                  <p
                    style="
                      font-size: 12px;
                      line-height: 16px;
                      margin: 16px 0;
                      color: #8898aa;
                    "
                  >
                    Submit Labs Ltd., 51 Bracken Road, Sandyford, Dublin, D18
                    CV48, Ireland
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
