<h1 style="font-size:14px;line-height:24px;margin:16px 0;color:#000;text-align:left">Hi ##NAME##,</h1>
<p style="font-size:14px;line-height:24px;margin:16px 0;color:#000;text-align:left">Welcome to Aptabase! The analytics platform that truly cares about privacy.</p>
<p style="font-size:14px;line-height:24px;margin:16px 0;color:#000;text-align:left">Thanks for joining us and if you ever need anything just reach out via email or chat.</p>

<a target="_blank" style="color:rgb(37,99,235);text-decoration:underline;font-size:14px;display:block;margin-top:24px;margin-bottom:24px;" href="##URL##">Click here to get started</a>
