<h1 style="font-size: 24px; font-weight: bold; margin-top: 24px">
  Your magic link is here
</h1>
<a
  target="_blank"
  style="
    color: rgb(37, 99, 235);
    text-decoration: underline;
    font-size: 14px;
    display: block;
    margin-bottom: 48px;
  "
  href="##URL##"
  >Click here to log in with this magic link</a
>
<p
  style="
    font-size: 14px;
    line-height: 24px;
    margin: 16px 0;
    color: #000;
    text-align: left;
  "
>
  If you didn't request this, please ignore this email.
</p>
