<p>Hi ##NAME##,</p>
<p>
  Your free 30-day trial of
  <a target="_blank" rel="noopener noreferrer nofollow" href="##URL##">Aptabase Analytics</a> ends in 5 days. That means
  you'll lose access to the dashboard and we'll stop processing events from your apps.
</p>
<p>
  If you want to continue using Aptabase for your app analytics, you can
  <a target="_blank" rel="noopener noreferrer nofollow" href="##URL##/billing">upgrade</a> to one of the paid plans.
</p>
<p>Thanks for trying Aptabase!</p>
<p><em>— Guilherme</em></p>
<p><em>If you have any questions, just reply to this email.</em></p>
