<p>Hi ##NAME##,</p>
<p>You have hit 80% of your monthly limit for Aptabase Analytics.</p>
<p>
  Your current plan allows for ##QUOTA## events per month. If you exceed this limit, we'll stop processing events from
  your apps.
</p>
<p>To avoid any interruptions, you can upgrade to a plan with a higher limit.</p>
<p>
  <a target="_blank" rel="noopener noreferrer nofollow" href="##URL##/billing">Upgrade your plan</a>
</p>
<p>Need help? Let us know by replying to this email.</p>
<p>Thanks for using Aptabase!</p>
<p><em>— Guilherme</em></p>
