<p>Hi ##NAME##,</p>
<p>
  Your have exceeded your monthly limit for Aptabase Analytics, and we stopped ingesting events from your apps until the
  end of the month.
</p>
<p>
  Your current plan allows for ##QUOTA## events per month. Please upgrade your plan to resume event ingestion below.
</p>
<p>
  <a target="_blank" rel="noopener noreferrer nofollow" href="##URL##/billing">Upgrade your plan</a>
</p>
<p>Need help? Let us know by replying to this email.</p>
<p>Thanks for using Aptabase!</p>
<p><em>— Guilherme</em></p>
